# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Run Playwright Tests

on: [push] # This specifies the trigger event (e.g., push to the repository)

jobs:
  test:
    runs-on: ubuntu-latest # The operating system for the runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2 # This checks out your repository's code

      - name: Set up Node.js
        uses: actions/setup-node@v2 # This sets up Node.js environment
        with:
          node-version: '14' # Specify the Node.js version you need

      - name: Install dependencies
        run: npm install # Install your project dependencies, including @playwright/test

      - name: Run Playwright tests
        run: npm test # Command to run your Playwright tests
